@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #222;
  box-sizing: border-box;
}

* {
  font-family: "Baloo 2", cursive;
}

button {
  border: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  padding: 25px 80px;
  margin: 15px 30px;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  -webkit-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  position: relative;
}

button .icon-container .btn-logo {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  bottom: calc(50% - 25px);
}

button .icon-container,
button .text-container {
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

button .icon-container {
  z-index: 10;
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  left: 0;
}

button .text-container {
  z-index: 20;
  position: absolute;
  width: calc(100% - 50px);
  height: 100%;
  top: 0;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pressed {
  transform: translateY(2px) scaleX(0.99) scaleY(0.99);
}

.idle {
  transform: translateY(0px) scaleX(1) scaleY(1);
}
